/*---------------
Common Factor
----------------*/
html, body {
    overflow-y: hidden;
}
.contaier {
    width: 100%;
    height: 100%;
}

/*---------------
Marker Style
----------------*/
.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: 2;
}

.marker .markerWrapper {
    position: relative;
    width: 1px;
    height: 100%;
    left: 10px;
    background: #000;
    /* overflow-y: ; */
}

/* .marker .markerWrapper:after {
    position: absolute;
    content: "";
    display: block;
    top: 50px;
    left: -11px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 100%;
} */

.marker .markerWrapper .activeSlide {
    position: absolute;
    top: 30px;
    left: 20px;
    width: max-content;
    font-size: 14px;
}

/*---------------
Slider Style
----------------*/
.slider {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.slider.active {
    display: none;
    overflow-x: hidden;
}

.slider .sliderWrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.slider .sliderWrapper .sliderList {
    width: 100%;
    height: 100%;
    display: flex;
}

.slider .sliderWrapper .sliderList img {
    max-width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/*---------------
hide Style
----------------*/
.hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.hide.active {
    z-index: 2;
}

.hide.overflow {
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.hide .hideWrapper {
    width: 100%;
    height: auto;
    background: violet;
    clip-path: circle(1% at 95% 3%);
    transition: all 1s ease-in-out;
    padding: 20px;
    overflow: hidden;
}

/*---------------
team Style
----------------*/
.team {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: gray;
    z-index: 3;
    transition: all 1s ease-in-out;
}
.team.active {
    height: 100%;
}

.teamWrapper {
    padding: 50px;
}