/*---------------
Common Factor
----------------*/
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src:
    url('./fonts/Pretendard-Thin.woff2') format('woff2')
    url('./fonts/Pretendard-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src:
    url('./fonts/Pretendard-ExtraLight.woff2') format('woff2')
    url('./fonts/Pretendard-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src:
    url('./fonts/Pretendard-Light.woff2') format('woff2')
    url('./fonts/Pretendard-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src:
    url('./fonts/Pretendard-Regular.woff2') format('woff2')
    url('./fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src:
    url('./fonts/Pretendard-Medium.woff2') format('woff2')
    url('./fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src:
    url('./fonts/Pretendard-SemiBold.woff2') format('woff2')
    url('./fonts/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src:
    url('./fonts/Pretendard-Bold.woff2') format('woff2')
    url('./fonts/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src:
    url('./fonts/Pretendard-ExtraBold.woff2') format('woff2')
    url('./fonts/Pretendard-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src:
    url('./fonts/Pretendard-Black.woff2') format('woff2')
    url('./fonts/Pretendard-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'BangStart';
    font-weight: 100;
    src:
    url("./fonts/Bang-Start.woff2") format('woff2'),
    url("./fonts/Bang-Start.ttf") format('truetype');
}

@font-face {
    font-family: 'BangPassion';
    font-weight: 100;
    src:
    url("./fonts/Bang-Passion.woff2") format('woff2'),
    url("./fonts/Bang-Passion.ttf") format('truetype');
}

@font-face {
    font-family: 'BangExplode';
    font-weight: 100;
    src:
    url("./fonts/Bang-Explode.woff2") format('woff2'),
    url("./fonts/Bang-Explode.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
}
html, body {
    overflow-y: hidden;
    background: #121212;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.contaier {
    width: 100%;
    height: 100%;
}

/*---------------
Marker Style
----------------*/
.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: 2;
}

.marker .markerWrapper {
    position: relative;
    width: 1px;
    height: 100%;
    left: 100px;
    background: #A54AFF;
}

.marker .markerWrapper .grab img {
    position: absolute;
    top: 150px;
    transform: translateX(-50%);
    width: 40px;
    
}

.marker .markerWrapper .activeSlide {
    position: absolute;
    top: 155px;
    left: 40px;
    width: max-content;
    font-family: 'BangExplode';
    font-weight: 100;
    color: #A54AFF;
}

.marker .markerWrapper .activeSlide .date {
    color: #A54AFF;
    font-size: 16px;
    overflow: hidden;
}

/*---------------
Slider Style
----------------*/
.slider {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
}

.slider.active {
    display: none;
    overflow-x: hidden;
}

.slider .sliderWrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background: url('/static/img/explosion/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.slider .sliderWrapper .sliderList {
    margin-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
}

.slider .sliderWrapper .sliderList img {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-left: 100px;
    transition: all 1s ease-in-out;
    border-radius: 5px;
}


.slider .sliderWrapper .sliderList img:hover {
    z-index: 10;
}

.slider .sliderWrapper .sliderList img.enlarged {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 1000; /* 다른 요소들보다 위에 표시하기 위한 우선순위 설정 */
    transition: transform .5s ease-in-out; /* 크기 변화를 부드럽게 보여주기 위한 전환 */
    transform-origin: center center;
  }
  

/*---------------
hide Style
----------------*/
.hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.hide.active {
    z-index: 2;
}

.hide.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow-x: hidden; */
}

.hide .hideWrapper {
    width: 100%;
    height: 1700px;
    background: #A54AFF;
    clip-path: circle(1% at 92% 8%);
    transition: all 1s ease-in-out;
    padding: 20px;
    overflow: hidden;
}

.hide .hideWrapper .hideBackground {
    position: relative;
    width: 100%;
    height: 100%;
}

.hide .hideWrapper .hideBackground img {
    width: 100%;
}

.hide .hideWrapper .hideBackground .bang17 {
    width: 1700px;
    padding: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.hide .hideWrapper .hideBackground .bang17 h1 {
    font-family: 'BangExplode';
    font-weight: 100;
    font-size: 300px;
    color: #A54AFF;
    margin-top: 0;
    margin-bottom: 0;

}

.hide .hideWrapper .hideBackground .bang17 h3 {
    width: 1200px;
    font-size: 50px;
    font-weight: 600;
    line-height: 150%;
    color: white;
}

.hide .hideWrapper .hideBackground .bang17 h3:nth-of-type(2) {
    text-align: right;
    float: right;
    padding-top: 300px;
}
