@font-face {
    font-family: 'BangStart';
    font-weight: 100;
    src: url("/font/Bang-Start.woff2") format('woff2'), url("/fonts/Bang-Start.ttf") format('truetype');
}

@font-face {
    font-family: 'BangPassion';
    font-weight: 100;
    src: url("/fonts/Bang-Passion.woff2") format('woff2'), url("/fonts/Bang-Passion.ttf") format('truetype');
}

@font-face {
    font-family: 'BangExplode';
    font-weight: 100;
    src: url("/fonts/Bang-Explode.woff2") format('woff2'), url("/fonts/Bang-Explode.ttf") format('truetype');
}



/* 초기값 설정 */

a{
    text-decoration:none;
    background-blend-mode:difference;
}

a:link{
    color:#fff;
    background-blend-mode: difference;
}

a:visited{
    color:#fff;
    background-blend-mode: difference;
}

a:hover{
    color:#fff;
    background-blend-mode: difference;
}

a:active{
    color:#fff;
    background-blend-mode: difference;
}

ol,
ul{
    list-style:none;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* 헤더 */
header {
    top: 0;
    height: 5.63em;
    width: 100vw;
    position: fixed;
    z-index:2;
    background:transparent;
    margin-top:0;
    margin-bottom:0;
}

/* 로고 */
header .webLogo {
    width: calc(100vw * 183 / 1920);
    height: calc(100vw * 42 / 1920);
    position: absolute;
    box-sizing: border-box;
    top:0;
    padding: 0;
    margin: 1.2em 2em;
    background: transparent;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: calc(100vw * 100 / 1920)!important;
}

header .webLogo img {
    width: calc(100vw * 129 / 1920);
    cursor: pointer;
    position: absolute; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header .webLogo img:first-child {
    opacity: 1;
}

header .mobileLogo{
    display: none;
}

/* 헤더 버튼 */
.headerBtn {
    position: absolute;
    right:13%;
    top: 0;
    font-size: calc(100vw * 22 / 1920);
}

.menuItem {
    display: inline-block;
    text-align: center;
    color: white;
    font-family: 'Pretendard';
    font-weight: 400;
    word-wrap: break-word;
    padding: 1em 1.5em;
}

.menuItem li a{
    height: 2.13em;
    width: 6em;
    font-size: 1.2em;
    padding: 0;
    align-items: center; 
    justify-content: flex-start; 
    background:transparent;
    cursor:pointer;
}

header #toggle {
    position: fixed;
    top: 1.8em;
    right: 3em;
    transform: translate(0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    width: 80px;
    height: 45px;
}

header .btnMenu {
    position: relative;
    height: 0;
    cursor: pointer;
    transition: all .5s ease;
    z-index: 100;
    margin-right: calc(100vw * 40 / 1920)!important;
}

/* 아코디언 */

.accessMenu{
	/* display: table; */
	margin: 1em auto;
}

.accessMenu li{
	display: inline-block;
	position: relative;
    text-align:left;
}


.accessMenu > li:hover .accessSubmenu{
    display: block; /* 추가 */
	top: 100%;
	left: auto;
}

.accessMenu li a{
	color: #eee;
	display: block;
	padding: 0em 2em;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


.accessSubmenu{
    width:calc(100vw * 220 / 1920);
    height:calc(100vw * 220 / 1920);
	background: #121212;
    left:15px;
    top:85px;
	position: absolute;
    border-radius: 10px; 
    border: 1px rgba(255, 255, 255, 0.20) solid;
    display:none;
}

.accessSubmenu li{
    display:flex;
    align-items: center;
    font-size: calc(100vw * 20 / 1920);
}

.accessSubmenu li:nth-child(1){
    font-family: 'BangPassion';
}

.accessSubmenu li:nth-child(2){
    font-family: 'BangExplode';
}

.accessSubmenu li:nth-child(3){
    font-family: 'BangStart';
}

/* 이미지와 텍스트 사이의 간격 조절 */
.accessSubmenu li img{
    width:25px;
    margin-left:calc(100vw * 20 / 1920);
    margin-top:calc(100vw * -5 / 1920);
}

.accessSubmenu li a{
    margin-top:calc(100vw * 25 / 1920);
    margin-left:calc(100vw * -25 / 1920);
}

.is-show{
    left: auto;
    top: auto;
}

/* 오버레이 메뉴 */
header #squareContainer{
    width:100vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow:hidden;
    z-index:10000;
    box-sizing: border-box;
    pointer-events: none;
}

header .square{
    width:80px;
    height:80px;
    box-sizing:border-box;
    z-index:1;
    pointer-events: none;
}

header .contentOverlay{
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0em;
    background:#121212;
    color:#ffffff;
    z-index:-1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

header .contentOverlay .navContainer .navLink{
    font-family: 'Pretendard';
    justify-content: space-between;
    font-weight:600;
    padding: 1em 0 0 0;
    font-size: calc(100vw * 104 / 1920);
    padding-left :calc(100vw * 60 / 1920);
}

header .contentOverlay .navContainer .navLinks {
    display: flex;  
    flex-direction: column;  
    text-align: left;  
}

header .contentOverlay .navContainer .navLink .navNum{
    position:relative;
    font-size: calc(100vw * 64 / 1920);
}

header .contentOverlay .navContainer .navLink .navNum:nth-child(1){
    font-family: 'BangPassion';
}

header .contentOverlay .navContainer .navLink .navNum:nth-child(2){
    font-family: 'BangPassion';
}

header .contentOverlay .navContainer .navLink .navNum:nth-child(3){
    font-family: 'BangStart';
}

header .contentOverlay .navContainer .navLink .navNum:nth-child(4){
    font-family: 'BangPassion';
}

header .contentOverlay .navContainer .navLink .navNum:nth-child(5){
    font-family: 'BangStart';
}



header .contentOverlay .navContainer .navLink a { 
    padding-left :calc(100vw * 20 / 1920);
    padding-right :calc(100vw * 120 / 1920);
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    pointer-events: auto;
    font-weight:500;
}

.navContainer {
    display: flex;  
    justify-content: space-between;   
}

.navLinks {
    text-align: left;  
}

.navLink ul {
    display: block;  
    list-style: none;  
    padding-left: calc(100vw * 20 / 1920); 
    font-size: calc(100vw * 70 / 1920);
    padding-top: calc(100vw * 30 / 1920); 
}

.navLink ul li{
    padding-top: calc(100vw * 20 / 1920); 
}


.navLink ul li a img {
    margin-right: calc(100vw * 50 / 1920); 
    width:calc(100vw * 40 / 1920);
    height: auto; 
    vertical-align: middle; 
}








.passion a{
    font-family: 'BangPassion';
}

.explode a{
    font-family: 'BangExplode';
}

.start a{
    font-family: 'BangStart';
}


/* 폰트 */

.multiFont{
    font-family: var(--font);
}


.multiFont::before {
    content: attr(data-content);
}

.multiFont2{
    font-family: var(--font);
}


.multiFont2::before {
    content: attr(data-content);
}

.multiFont3{
    font-family: var(--font);
}


.multiFont3::before {
    content: attr(data-content);
}

.multiFont4{
    font-family: var(--font);
}


.multiFont4::before {
    content: attr(data-content);
}

.multiFont5{
    font-family: var(--font);
}


.multiFont5::before {
    content: attr(data-content);
}





.multiFont:nth-child(1) { --font: 'BangPassion'; }
.multiFont:nth-child(2) { --font: 'BangPassion'; }
.multiFont:nth-child(3) { --font: 'BangExplode'; }
.multiFont:nth-child(4) { --font: 'BangPassion'; }
.multiFont:nth-child(5) { --font: 'BangPassion'; }
.multiFont:nth-child(6) { --font: 'BangExplode'; }
.multiFont:nth-child(7) { --font: 'BangPassion'; }
.multiFont:nth-child(8) { --font: 'BangPassion'; }
.multiFont:nth-child(9) { --font: 'BangStart'; }
.multiFont:nth-child(10) { --font: 'BangPassion'; }

.multiFont2:nth-child(1) { --font: 'BangPassion'; }
.multiFont2:nth-child(2) { --font: 'BangStart'; }
.multiFont2:nth-child(3) { --font: 'BangPassion'; }
.multiFont2:nth-child(4) { --font: 'BangStart'; }
.multiFont2:nth-child(5) { --font: 'BangPassion'; }

.multiFont3:nth-child(1) { --font: 'BangStart'; }
.multiFont3:nth-child(2) { --font: 'BangPassion'; }
.multiFont3:nth-child(3) { --font: 'BangStart'; }
.multiFont3:nth-child(4) { --font: 'BangExplode'; }
.multiFont3:nth-child(5) { --font: 'BangStart'; }
.multiFont3:nth-child(6) { --font: 'BangExplode'; }
.multiFont3:nth-child(7) { --font: 'BangStart'; }
.multiFont3:nth-child(8) { --font: 'BangPassion'; }


.multiFont4:nth-child(1) { --font: 'BangPassion'; }
.multiFont4:nth-child(2) { --font: 'BangExplode'; }
.multiFont4:nth-child(3) { --font: 'BangPassion'; }
.multiFont4:nth-child(4) { --font: 'BangStart'; }
.multiFont4:nth-child(5) { --font: 'BangPassion'; }
.multiFont4:nth-child(6) { --font: 'BangExplode'; }
.multiFont4:nth-child(7) { --font: 'BangPassion'; }
.multiFont4:nth-child(8) { --font: 'BangPassion'; }

.multiFont5:nth-child(1) { --font: 'BangStart'; }
.multiFont5:nth-child(2) { --font: 'BangPassion'; }
.multiFont5:nth-child(3) { --font: 'BangStart'; }
.multiFont5:nth-child(4) { --font: 'BangStart'; }
.multiFont5:nth-child(5) { --font: 'BangStart'; }
.multiFont5:nth-child(6) { --font: 'BangStart'; }



/* ===== 스크롤탑 =====  */
.topBtn{
    position:fixed;
    bottom:50px;
    right:50px;
    border-radius: 50px;
    width:50px;
    height:50px;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
}


/******  Web 헤더 끝 ******/





/******  모바일 헤더 ******/
@media (max-width: 768px) {
    header{
        position: relative;
        height: calc(100vw * 178 / 768);
    }

    header .webLogo{
        display: none;
    }

    header .mobileLogo{
        position: absolute;
        width: calc(100vw * 129 / 768); 
        height: auto;
        display: block;
    }

    header .mobileLogo img {
        width: calc(100vw * 129 / 768);
        margin: 1.75em 2em; 
    }

    header .contentOverlay .navLink{
        padding: 2em 0 0 0;
        font-size: calc(100vw * 32 / 768);
    }

    header .headerBtn {
        position: absolute;
        right:27%;
        top: 0;
    }
    
    header .headerBtn li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    
    header .headerBtn .menuItem {
        height: 2.13em;
        width: 5em;
        font-family: 'Pretendard';
        font-size: 1.5em;
        margin: 4.5em 0.3em;
        padding: 0;
        align-items: center; 
        justify-content: flex-start; 
        background:transparent;
    }

    header #toggle{
        margin-top:calc(100vw * 15 / 768); 
    }

}

