/*---------------
Common Factor
----------------*/

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src:
    url('/fonts/Pretendard-Thin.woff2') format('woff2')
    url('/fonts/Pretendard-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src:
    url('/fonts/Pretendard-ExtraLight.woff2') format('woff2')
    url('/fonts/Pretendard-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src:
    url('/fonts/Pretendard-Light.woff2') format('woff2')
    url('/fonts/Pretendard-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src:
    url('/fonts/Pretendard-Regular.woff2') format('woff2')
    url('/fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src:
    url('/fonts/Pretendard-Medium.woff2') format('woff2')
    url('/fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src:
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2')
    url('/fonts/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src:
    url('/fonts/Pretendard-Bold.woff2') format('woff2')
    url('/fonts/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src:
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2')
    url('/fonts/Pretendard-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src:
    url('/fonts/Pretendard-Black.woff2') format('woff2')
    url('/fonts/Pretendard-Black.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    background: #121212;
    font-family: 'Pretendard';
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

a {
    text-decoration: none;
    color: white;
}

/*---------------
Main Style
----------------*/
.main {
    width: 100%;
    height: 100vh;
}

.main .mainWrapper {
    width: 90%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.main .mainWrapper .mainInterac {
    width: 100%;
    height: 100%;
}

.main .mainWrapper .mainInterac img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .mainWrapper .mainTitle {
    width: 100%;
    height: 100%;
}

.main .mainWrapper .mainTitle .title {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    color: white;
}

.main .mainWrapper .mainTitle .title .titleLeft {
    font-size: 30px;
    font-weight: 400;
    line-height: 140%;
}

.main .mainWrapper .mainTitle .title .titleRight {
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 30px;
    font-weight: 400;
    line-height: 140%;
}

/*---------------
Delight Insight Style
----------------*/
.delightInsight {
    width: 100%;
    height: 100vh;
    background: #fff;
    /* clip-path: circle(0% at 50% 100%); */
    transition: all 1s cubic-bezier(0, 0, 0.58, 0.89);
    margin-top: 10px;
}

.delightInsight .delightWrapper {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.delightInsight .delightWrapper .delightBox {
    position: absolute;
    bottom: 150px;
    left: 0;
}

.delightInsight .delightWrapper h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.delightInsight .delightWrapper img {
    margin-bottom: 50px;
}

.delightInsight .delightWrapper p {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

/*---------------
Intro Video Style
----------------*/
.introVideo {
    position: relative;
    width: 100%;
    height: 100vh; /* 비디오 높이 설정 */
    overflow: hidden;
}
  
.introWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
  
#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* 비디오 채우기 설정 */
}

/*---------------
patternControl Style
----------------*/

.patternControl {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.patternControl .patternControlWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.patternControl .patternControlWrapper .left {
    width: 1058px;
    height: 100%;
    overflow: hidden;
}

.patternControl .patternControlWrapper .left .vertical {
    width: 100%;
    height: 20%;
    display: flex;
}

.patternControl .patternControlWrapper .left .vertical .pattern {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patternControl .patternControlWrapper .left .vertical .pattern img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.97);

}

.patternControl .patternControlWrapper .right {
    width: 862px;
    height: 100vh;
    color: white;
    text-align: center;
}

.patternControl .patternControlWrapper .right .rightWrapper {
    padding: 120px 100px;
    text-align: center;
}

.patternControl .patternControlWrapper .right .rightWrapper .title {
    margin-bottom: 100px;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls {
    width: 100%;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller {
    text-align: left;
    margin-top: 40px;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller h3 {
    font-size: 20px;
    font-weight: 400;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller .controlWrapper {
    width: 100%;
    height: 10px;
    position: relative;
    margin-top: 20px;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller .controlWrapper .controlBar {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller .controlWrapper .controlButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* background: red; */
    transition: left 0.05s;
}

.patternControl .patternControlWrapper .right .rightWrapper .controls .controller .controlWrapper .controlButton img {
    width: 20px;
    height: 20px;
}

.patternControl .patternControlWrapper .right .rightWrapper .description {
    text-align: left;
    margin-top: 90px;
}

.patternControl .patternControlWrapper .right .rightWrapper .description h1 {
    font-size: 28px;
    font-weight: 600;
}

.patternControl .patternControlWrapper .right .rightWrapper .description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.patternControl .patternControlWrapper .right .rightWrapper .patternStartImg {
    width: 210px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.patternControl .patternControlWrapper .right .rightWrapper .patternStartImg img {
    width: 50%;
    height: 50%;
}

.patternStart {
    display: flex;
    flex-wrap: wrap;
}

.patternStart img {
    width: 50%;
    height: 50%;
    /* aspect-ratio: 1; */
    object-fit:fill;
}

#explosionCotrolBtn {
    width: 35px;
    height: 35px;
}

#startControlBtn {
    width: 23px;
    height: 23px;
}



/*---------------
GridSystem Style
----------------*/
.gridSystem {
    width: 100%;
    height: 100vh;
}

.gridSystem .gridSystemWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.gridSystem .gridSystemWrapper .gridTitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 100px;
}
.gridSystem .gridSystemWrapper .gridTitle img {
    margin-bottom: 20px;
}

.gridSystem .gridSystemWrapper .gridTitle p{
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: #fff;
}

.gridSystem .gridSystemWrapper .gridSystemItr {
    width: 100%;
    height: 100%;
    position: relative;
}

.gridSystem .gridSystemWrapper .gridSystemItr .frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.gridSystem .gridSystemWrapper .gridSystemItr .svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.gridSystem .gridSystemWrapper .gridSystemItr .svg .cls-1 {
    fill: #121212;
    stroke-width: 0px;
}

.gridSystem .gridSystemWrapper .patternBtn {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.gridSystem .gridSystemWrapper .patternBtn .btn {
    width: 230px;
    padding: 15px 0;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 70px;
    font-size: 28px;
}

#passion {
    display: block;
}

#passion.active {
    display: none;
}

#start {
    display: none;
}

#start.active {
    display: block;
}

#explosion {
    display: none;
}

#explosion.active {
    display: block;
}


/*---------------
Typeface Style
----------------*/

.typeface {
    width: 100%;
    height: 100vh;
    /* margin-top: 200px; */
    opacity: 0;
    /* transform: translateX(-20%); */
    transition: all 1s ease-in-out;
}

.typeface .typefaceWraaper {
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.typeface .typefaceWraaper .typefaceTitle {
    padding-top: 150px;
}

.typeface .typefaceWraaper .typefacePassion {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.typeface .typefaceWraaper .typefacePassion .passionDescrition {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.typeface .typefaceWraaper .typefacePassion img {
    padding-bottom: 30px;
}

.typeface .typefaceWraaper .typefacePassion p {
    width: 500px;
    padding-top: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: #fff;
}

