/*---------------
Common Factor
----------------*/

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src:
    url('./fonts/Pretendard-Thin.woff2') format('woff2')
    url('./fonts/Pretendard-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src:
    url('./fonts/Pretendard-ExtraLight.woff2') format('woff2')
    url('./fonts/Pretendard-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src:
    url('./fonts/Pretendard-Light.woff2') format('woff2')
    url('./fonts/Pretendard-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src:
    url('./fonts/Pretendard-Regular.woff2') format('woff2')
    url('./fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src:
    url('./fonts/Pretendard-Medium.woff2') format('woff2')
    url('./fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src:
    url('./fonts/Pretendard-SemiBold.woff2') format('woff2')
    url('./fonts/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src:
    url('./fonts/Pretendard-Bold.woff2') format('woff2')
    url('./fonts/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src:
    url('./fonts/Pretendard-ExtraBold.woff2') format('woff2')
    url('./fonts/Pretendard-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src:
    url('./fonts/Pretendard-Black.woff2') format('woff2')
    url('./fonts/Pretendard-Black.ttf') format('truetype');
}

html, body {
    background: #121212;
    font-family: 'Pretendard';
}

a {
    text-decoration: none;
    color: white;
}

/*---------------
Nav Style
----------------*/
nav {
    width: 100%;
    height: 118px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

nav .navWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

nav .navWrapper .navLeft .logo img{
    width: 150px;
}

nav .navWrapper .navRight {
    display: flex;
}

nav .navWrapper .navRight a {
    font-size: 22px;
}

nav .navWrapper .navRight a,
nav .navWrapper .navRight img {
    margin-left: 70px;
}
